*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
div{
    height: 250px;
    width: 250px;
    background-color: yellowgreen;
    font-size: 2rem;
    text-align: center;
    padding: 10px;
    border: 2px solid;
}
@media screen and (orientation: portrait) {
    div{
        border-radius: 0px;
    }
}
@media screen and (orientation: landscape) {
    div{
        border-radius: 20px;
    }
}